<article>
  <h1><%= @post.title %></h1>
  <p><%= Timex.format!(@post.date, "{Mshort} {D} {YYYY}") %></p>
  <%= raw(@post.content) %>
</article>
<p><a class="button" href="<%= page_path(@conn, :index) %>">&laquo; Back </a></p>
