<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/custom.css">
  <link rel="stylesheet" href="/static/css/default.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">


    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href="/">ElixirDose: A Dose of Elixir Programming Language</a></li>
        </ul>
      </div>
    </nav>

    <section class="header">
      <h2 class="title">ElixirDose</h2>
      <p>Journal of the overlooked tiny bits in young programming language. Will update weekly or two, as a way to build the habit of writing something on a regular basis. Authored by <a href="https://twitter.com/rizafahmi22" target="_blank">Riza</a> and <a href="https://twitter.com/augiedb" target="_blank">Augie</a> as Editor In Chief.</p>

      <form action="http://elixirdose.us4.list-manage2.com/subscribe/post?u=73c2706174b7f2703c432c70c&amp;id=f7b2717e3a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="" _lpchecked="1">
        <div class="row">
          <div class="six columns">
            <input class="u-full-width" type="email" placeholder="A dose to your inbox!" name="EMAIL" id="mce=EMAIL">
          </div>
          <div class="six columns">
            <button type="submit" class="button-primary">Engage!</button>
          </div>
        </div>
      </form>
    </section>


    <hr>

    <div class="row" style="padding-top: 20px">
      <%= content %>
    </div>
    <footer>
      <div class="contaier">
        <div class="row">
          <div class="one-third column">
            <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
          </div>
          <div class="one-third column">
            Powered By <a href="https://github.com/rizafahmi/dds-blog" target="_blank">DDS Blog Engine</a>
          </div>
          <div class="articles one-third column">
            <a href="#">All Articles</a>
          </div>
        </div>
      </div>
    </footer>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="/static/js/highlight.pack.js"></script>
</body>
</html>
