<hr>
<h4>Share This</h4>
<ul class="share-buttons">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Felixirdose.com%2F&t=" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img src="/static/images/flat_web_icon_set/black/Facebook.png"></a></li>
  <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Felixirdose.com%2F&text=:%20http%3A%2F%2Felixirdose.com%2F&via=rizafahmi22" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img src="/static/images/flat_web_icon_set/black/Twitter.png"></a></li>
  <li><a href="https://plus.google.com/share?url=http%3A%2F%2Felixirdose.com%2F" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><img src="/static/images/flat_web_icon_set/black/gplus.png"></a></li>
  <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Felixirdose.com%2F&title=" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img src="/static/images/flat_web_icon_set/black/Reddit.png"></a></li>
  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Felixirdose.com%2F&title=&summary=&source=http%3A%2F%2Felixirdose.com%2F" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img src="/static/images/flat_web_icon_set/black/LinkedIn.png"></a></li>
  <li><a href="mailto:?subject=&body=:%20http%3A%2F%2Felixirdose.com%2F" target="_blank" title="Email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img src="/static/images/flat_web_icon_set/black/Email.png"></a></li>
</ul>
